
{% extends 'base.html' %}
{% load static %}

{% block content %}
<!––Container of card start ––>

<div class="container" style="margin-top: 60px">
    <br><br>

    <div class="articles">
        {% for blog in blogs %}
        <div class="articles">


            <h2><a href="{% url 'poste' slug=blog.slug%}" >{{blog.title}}</a></h2>
            <p>{{blogs.snippet}} </p>
            <small>Date: &nbsp;&nbsp;{{blog.published_date}}</small>
        </div>
        {% endfor %}
    </div>
</div>
<!––container of card  end ––>


{% endblock %}

